body{
background-color: yellow;
}
nav ul li {
    display: inline;
}
img {
    width: 200px;
    height: 200px;
}

footer { text-align: center; }

a:hover
{
background-color: black;
color: white;
transition: all 1.5s;
padding: 15px;
}